body {
    margin: 0;

    background-color: #f8f8f8;

    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* container
=============== */

.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

/* <!-- Blog--> */
.blog {
    background-color: #000;
    color: #fff;
} 
.blog .blog-list {
    text-decoration: none;
}