@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: var(--main-font-family);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    /* main text */
    --main-font-family: 'Roboto', sans-serif; 
    /* main end */

    /* title */
    --title-font-family: 'Crimson Pro', serif;
    /* title end */

    --main-color: #f8f8f8;
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #f4c524;
    --orange-color: #ff6600;
    --grey-color: #b4b4b4;
    --very-dark-grey-color:#222222;
    --dark-grey: #505050;
    --events-black: #0a0607;
    --events-dark-black: #101010;
    --events-grey: #47464624;
    --footer-bottom: #716e6f;
    --footer-links: #f0bf4c;
    --features-result: #ff6600;
    --features-text: #5ad470;
    --features-hover: #313131;
    --intro-red: red;
    --clients-text:#777;
    --footer-back:#0a0607;
    --clients-dot:#bbb;
    --clients-active:#717171;
}
/* preloader
======================= */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #083042 url('../img/preloader/preloader.gif') no-repeat center center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}


/* container
=============== */

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: auto;
}
