/* button 
================*/

.btn {
    display: inline-block;

    margin-right: 30px;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;

    background-color: var(--very-dark-grey-color);
    color: var(--white-color);
    transition: transform 0.5s;
}

.btn:hover {
    transition: .2s linear;
    box-shadow: 10px 10px 20px #1f1c1c; 
    
    background-color: var(--white-color);
    color: var(--black-color);

    transform: scale(1.1);
}

.btn--white {
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 20px;

    transition: transform 0.5s;
}

.btn--white:hover {
    transition: .2s linear;
    box-shadow: 10px 10px 20px #1f1c1c;   

    background-color: var(--very-dark-grey-color);
    color: var(--white-color);

    transform: scale(1.1);
}