/* button 
================*/

.btn {
    display: inline-block;

    margin-right: 30px;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;

    background-color: var(--very-dark-grey-color);
    color: var(--white-color);
    transition: transform 0.5s;
}

.btn:hover {
    transition: .2s linear;
    box-shadow: 10px 10px 20px #1f1c1c; 
    
    background-color: var(--white-color);
    color: var(--black-color);

    transform: scale(1.1);
}

.btn--white {
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 700;
    
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 20px;

    transition: transform 0.5s;
}

.btn--white:hover {
    transition: .2s linear;
    box-shadow: 10px 10px 20px #1f1c1c;   

    background-color: var(--very-dark-grey-color);
    color: var(--white-color);

    transform: scale(1.1);
}

/* BURGER======================================================================================== */

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #dfd159, #b92f2f);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.7s ease-in-out;
}

#active:checked ~ .wrapper {
    clip-path: circle(100%);
}

.menu-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(-135deg, #d0a42b, #b84b38);
    transition: all 0.3s ease;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #4158d8;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 30px 0;
}

.wrapper ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    padding: 5px 50px; 
    position: relative;
    line-height: 50px; 
    transition: all 0.3s ease; 
    font-family: 'Crimson Pro', serif;    
}

.wrapper ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    font-family: 'Crimson Pro', serif;
    color: #000000;
}

input {
    display: none;
}