/* features
===================== */
.features {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}


.features__item {
    display: grid;
    width: 300px;
    height: 300px;
    padding: 30px;
    text-align: center;
    margin: 30px;

    transition: transform 0.5s;
    overflow: hidden;
}


.features__result {
    font-size: 50px;
    margin-bottom: -10px;
    color: var(--black);
}

.features__title {
    font-size: 24px;
    letter-spacing: 4px;
    color: var(--black);
    font-family: var(--title-font-family);
}

.features__text {
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
}


/* media
=========================== */

@media (max-width: 1286px) {
    .features__result {
        font-size: 18px;
    }
    
    .features__title {
        font-size: 18px;
    }

    .features__text {
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .features {
        flex-wrap: wrap;
    }
}