.block_bg{
    background-color: var(--white-color);
    background-image: url(../img/clients_img/block_divider.png);
    height: 150px;
}
._awards{
    display: flex;
}
.awards{
    background-color: #0a0607;
    height: 460px;
    padding-top: 30px;
}
.awards_{
    color: var(--white-color); 
    text-align: left;
    padding-bottom: 30px;
    height: 200px;
    width: 280px;
    margin: 20px;
}
.awards_title{
    font-size: 70px;
    font-family: "Crimson Pro", serif;
    font-weight: 800px; 
}
.awards_h3{
    font-size: 21px;
    font-weight: 400px;
    font-family: 'Roboto', sans-serif;
}
.awards_block{
    color: var(--yellow-color);
    font-size: 20px;
    font-weight: 400px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 200px;
    width: 180px;
    margin: 50px; 
}
@media (max-width: 900px){
    .awards{
        height: 360px;
    }
    .awards_{
        height: 200px;
        width: 170px;
    }
    .awards_title{
        font-size: 50px;
    }
    .awards_h3{
        font-size: 17px;
    }
    .awards_block{
        font-size: 15px;
        margin: 20px;
        width: 150px;
    }
}
@media (max-width: 420px){
    ._awards{
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
    }
    .awards{
        height: 1090px;
    }
    .awards_{
        text-align: center;
        height: 200px;
        width: 180px;
        margin: 20px;
    }    
    .awards_title{
        font-size: 45px;
        font-weight: 400px;
    }
    .awards_h3{
        font-size: 16px;
    }
}