.bgrnd_block_top {
    background-image: url(../img/clients_img/top_wave.png);
    height: 150px;
    background-color: var(--white-color);
    margin-bottom: -50px;
}

.clients {
    background-color: var(--white-color);

}



.clients__title {
    font-size: 60px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: var(--black-color)
}

.dot_line_illustration {
    width: 130px;
}

.text-content {
    font-size: 20px;
    font-family: PT sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #777
}

.text-block {
    font-size: 17px;
    font-family: PT sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #777
}

.bgrnd_block {
    background-image: url(../img/clients_img/bottom_wave.png);
    height: 150px;
    background-color: var(--white-color);
}