/* <!-- Blog--> */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.blog {
    background: #0a0607;
    color: #fff;
    background-position: absolute;
        padding-top: 100px;
            padding-bottom: 100px;
}
.container-tittle {
    /*display: flex;*/
    justify-content: center;
margin-top: -30px;
    text-align: center;
    width: 1170px;
}

.blog-tittle {
    font-size: 62px;
               line-height: 1.1;
        font-family: 'Crimson Pro', serif;
        font-weight: 600;
        text-transform: none;
        text-decoration: none;
        font-style: normal;
        letter-spacing: -.02em;
}
.blog_logo {
        /* padding-top: 2.73%;*/
             object-fit: contain;
            object-position: 50% 50%;
                    background-color: transparent !important;
                    height: 32px;
}
.blog-text {
    margin-top: 20px;
    color: rgb(180, 180, 180);
    font-size: 20px;
        font-family: PT Sans, sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
            text-transform: none;
}

.blog .blog-list {
    text-decoration: none;
}
.blog-list {
    margin-top: 50px;
        display: flex;
        text-align: center;
        text-decoration: none;
        width: 1200px;

}

.container {
    width: 2212px;
    padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    /*position: static;
        display: flex;
        font: inherit;
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        box-sizing: border-box;*/
}

/* колір p 
color: rgb(180,180,180);
h2
display: block;

blog-item
background: url(//res2.weblium.site/res/5f6de0e…/5f7ac50…_optimized_996.webp) 50% 50% / cover no-repeat;
    background-image: url(//res2.weblium.site/res/5f6de0e…/5f7ac50…_optimized_996.webp);

background: rgba(39, 39, 39, 0.92);
img1 display: flex;
margin: 7.5px;
max-width: 100%;
text-align: center;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
list-style: none;
-webkit-box-direction: normal;
word-wrap: break-word;
width: 70px;
border-radius: 50%;
filter: hue-rotate(108deg);
object-fit: cover;
object-position: 90.587% 3.154%;

    стиль рисочки
    style="height:1px;width:100%;background-color:rgba(255, 255, 255, 0.18)
іконка колір
style="color:#f4c524
<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="max-width:100%" height="100%"><switch style="" fill="currentColor"><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1" style="" fill="currentColor"></foreignObject><g i:extraneous="self" style="" fill="currentColor"><circle cx="65" cy="75" r="10" style="" fill="currentColor"></circle><circle cx="35" cy="50" r="10" style="" fill="currentColor"></circle><circle cx="65" cy="25" r="10" style="" fill="currentColor"></circle><polyline fill="none" stroke="currentColor" stroke-width="5" stroke-miterlimit="10" points="65,75 35,50 65,25   " style=""></polyline></g></switch></svg>

2 колонка
background:rgba(10, 6, 7, 0.85)

background: url(//res2.weblium.site/res/5f6de0e…/5f7ac4a…_optimized_1140.webp) 15.47% 5.47% / cover no-repeat;
    filter: grayscale(100%);

    3 картинка
    background: url(//res2.weblium.site/res/5f6de0e…/5f7ac49…_optimized_1140.webp) 50% 50% / cover no-repeat;
    filter: grayscale(100%);
background: rgba(244, 36, 36, 0.9);

        .background--dark {
    color: #fff;
}


*/