.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 25px 0 25px;
}

.gallery_content {
    padding-top: 90px;
    margin: 0;
}

.gallery_inner {
    text-align: center;
}

.gallery_title {
    text-align: center;
    font-size: 62px;
    font-weight: 600;
    line-height: 1.5;
    color: #222;
    font-family: 'Crimson Text','serif';
}

.gallery_logo {
    width: 130px;
}

.gallery_sub_title {
    font-size: 20px;
    color: rgb(80, 80, 80);
    font-family: 'PT Sans','sans-serif';
    line-height: 30px;
    font-weight: 400;
}

.gallery_item {
    padding: 0 15px;
}