.footer {
    padding-top: 30px;
    width: 100%;
    background-color: var(--black-color);
}


.footer__bottom-navigation-links a {
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
    color: var(--white-color);
}

.footer__bottom-navigation-links a:hover {
    color: var(--footer-links);
}

.footer__bottom-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-img {
    font-size: 30px;
}


.bottom-text {
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid var(--footer-bottom);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--footer-bottom);
}