/*.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 40px;
    margin: 0 auto;
}*/

.gallery_content {
    padding-top: 90px;
    padding-bottom: 90px;
}


.gallery_logo {
    margin: auto;
    width: 130px;
}

.gallery_inner {
    text-align: center;
}

.gallery_title {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--very-dark-grey-color);
    font-family: 'Crimson Pro', 'serif';
    margin: 0;
}

.gallery_sub_title {
    font-size: 20px;
    color: var(--dark-grey);
    font-family: 'PT Sans', 'sans-serif';
    line-height: 30px;
    font-weight: 400;
}

button {
    padding: 0 0px;
}

button img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.gallery_item_grid_1 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 30px;
}

.gallery_item_1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery_item_grid_2 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 20px;
}