.contacts {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: auto;
    padding: 0;
}

.contacts_information {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    padding: 0;
}

.contacts_header {
    display: flex;
    width: 100%;
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    text-align: left;
    text-transform: none;
    font-size: 48px;
    color: #0a0607;
    margin-bottom: 20px;
}

#dot_line_illustration {
    display: flex;
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.contacts_visit {
    display: flex;
    color: rgb(80, 80, 80);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

}

.contacts_contacts_address,
.contacts_contacts_hours,
.contacts_contacts_contacts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0;
}

.contacts_title_address {
    display: flex;
    color: rgb(54, 151, 236);
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    margin: 0;
}

.contacts_title_hours {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: rgb(54, 151, 236);
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    margin: 0;
}

.contacts_title_contacts {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: rgb(54, 151, 236);
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    margin: 0;
}

.contacts_address_of_NY,
.contacts_hours_to_work {
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.contacts_contacts_tel_mail {
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.contacts_tel,
.contacts_mail {
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    text-decoration: none;
    width: 200px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.contacts_tel:hover {
    color: #F4C524;
}

.contacts_mail:hover {
    color: #F4C524;
}

.contacts_position_of_map {
    position: relative;
    display: flex;
    width: 100%;
    height: 250px;
}

.contacts_map_modal {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    width: 150px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    top: 25px;
    left: 70px;
    z-index: 10;
}

.contacts_position_of_map_information {
    display: flex;
    margin: 0 auto;
    align-items: center;

}

.contacts_map_modal_close {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.contacs_map {
    position: absolute;
    display: flex;
    justify-content: center;
    height: auto;

}

.contacts_form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    margin: 0;
    width: 50%;
    height: 700px;
    border-radius: 10px;
}

.contacts_form:hover {
    transform: scale(1.05);
    transition: 1.1s;
}

.contacts_form_header {
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin: 60px 0;
    width: 100%;
}

.contacts_form_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.form_input {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
}

.form_input_message {
    display: flex;
    background-color: #f8f8f8;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}

.form_input_submit {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    background-color: #F4C524;
    border-radius: 20px;
    color: #fff;
    transition: transform 0.5s;
    align-items: center;
    outline: none;
    border: none;
    width: 100%;
}

.form_input_submit:hover {
    background-color: #4f504df3;
    color: #fff;
}

@media (min-width: 425px) and (max-width:768px) {
    .contacts {
        flex-direction: column;
        margin: 100px 0;
    }

    .contacts_information {
        width: 100%;
        margin-bottom: 30px;
    }

    .contacts_contacts_address,
    .contacts_contacts_hours,
    .contacts_contacts_contacts {
        flex-direction: column;
    }

    .contacts_form, 
    .contacts_contacts_tel_mail, 
    .contacts_address_of_NY, 
    .contacts_hours_to_work {
        width: 100%;
    }
    .contacts_position_of_map {
        height: 230px;
        margin-top: 20px;
    }
}