/* header
=============== */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;

    background-color: var(--black-color);
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 147px;
    
}

/* nav 
================= */

.nav {
    display: flex;
    
    font-size: 17px;
    font-weight: 400;
}

.nav__link {
    position: relative;

    color: var(--white-color);
}

.nav__link:not(:first-child) {
    margin-left: 30px;
}


.nav__link:hover {
    transition: .2s linear;
    color: var(--footer-links);
}

.clock {
    font-size: 20px;
    color: rgb(244, 165, 75);
    margin-left: 40px;
}

/* media
=============================== */

@media (max-width: 1200px) {
    .nav {
        font-size: 15px;
    }
}

@media (max-width: 1050px) {
    .nav {
        display: none;
    }
    .header__logo {
        margin: auto;
    }
}