/* reviews 
======================= */

.reviews {
    margin: 100px 0;
}

.reviews__inner {
    text-align: center;
}

.reviews__img {
    width: 150px;
    margin: auto;
}

.reviews__title {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 600;

    font-family: var(--title-font-family);
}

.reviews-sub__title {
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 400;

    font-family: var(--title-font-family);
}

/* slider
================== */

.slider {
    display: flex;
}

.slider__item {
    width: 100%;
    text-align: center;
    padding: 40px 40px 0 40px;
    margin: 20px;
    background-color: var(--white-color);
}


.slider__img {
    width: 38%;
    height: 25%;
    margin: auto;
    margin-bottom: 30px;
    object-fit: cover;

    border-radius: 100%;
}

.slider__title {
    font-size: 30px;
    font-family: var(--title-font-family);

    margin-bottom: 50px;
}

.slider__text {
    margin-bottom: 20px;

    line-height: 1.6;
    font-size: 17px;
    font-weight: 400;
    color: var(--grey-color);
}


time {
    font-weight: 700;
}


.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.flex__column {
    min-height: 0;
}

.slider .slick-arrow{
    margin: auto;
    border: none;
    font-size: 0;
    width: 100px;
    height: 38px;
}

.slick-arrow.slick-prev {
    background: url('../img/left-arrow.png') 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next {
    background: url('../img/right-arrow.png') 0 0 / 100% no-repeat;
}

