/* features
===================== */
.features {
    display: flex;
    justify-content: center;
    margin: 100px 0;;
}

.features__item {
    width: 300px;
    height: 300px;
    padding: 30px;
    text-align: center;
    margin: 30px;

    background-color: var(--very-dark-grey-color);
    transition: transform 0.5s;
    overflow: hidden;

}

.features__item:hover {
    cursor: pointer;
    background-color: var(--features-hover);
    box-shadow: 30px 30px 30px var(--black-color);

    transform: scale(1.1);
}

.features__result {
    font-size: 30px;
    
    color: var(--features-result);
}

.features__title {
    font-size: 24px;
    letter-spacing: 4px;
    color: var(--yellow-color);
    
    font-family: 'Crimson Pro', serif;
}

.features__text {
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    color: var(--features-text);
}

@media (max-width: 1220px) {
    .features {
        flex-wrap: wrap;
    }
}



@media (max-width: 1200px) {
    .features {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        left: 35%;
}
    
}