.footer {
    padding: 50px;
    width: 100%;
    background-color: #0a0607;
}


.footer__bottom-navigation-links a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.footer__bottom-navigation-links a:hover {
    color: rgb(240, 191, 76);
}

.footer__bottom-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-text {
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #716e6f;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #716e6f;
}