/* font-family: 'Crimson Pro', serif; */
/* font-family: 'PT Sans', sans-serif; */
.faq {
  display: flexbox;
  background-color: #F4C524;
}

.faq__top__img {
  display: flex;
  justify-content: space-between;
}

.faq__dotline {
  width: 17%;
}

.faq__collapsible {
  display: flexbox;
  background-color: #F4C524;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  font-family: 'Crimson Pro', serif;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}


@media (max-width: 1200px) {
  .faq__collapsible {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (max-width: 900px) {
  .faq__collapsible {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (max-width: 420px) {
  .faq__collapsible {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.faq__h2 {
  display: flex;
  justify-content: center;
  font-family: 'Crimson Pro', serif;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  font-size: 48px;
}

.faq__h2__subheader {
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 25px;
  font-size: 20px;
}

.faq__p1 {
  display: grid;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: black;
  margin: auto;
  text-align: left;
  padding: 15px;
  font-size: 20px;
  overflow: hidden;
  transition: all 0,5s ease-in-out;
}

.active,
.faq__collapsible:hover {
  background-color: #F4C524;
  animation-name: faq__button__hover__test;
}

@keyframes

.faq__collapsible::after {
  content: "+";
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  float: right;
  transform: 1.5;
}

.faq__collapsible.active {
  background: #F4C524;
  content: "-";
}

.faq__collapsible.active::after {
  content: "-";
}

.faq__content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #F4C524;
  transition: all 0.5s ease-in-out;
}

.faq__content.active {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #F4C524;
  transition: all 0.5s ease-in-out;
}

.faq__top__img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.faq__bot__img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
}

.faq__dotline {
  margin: auto;
  display: flex;
}

@media (min-width: 600px) {
  .faq__dotline {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 420px) {
  .faq__h2 {
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
  }
}

@media (min-width: 1200px) {
  .faq__collapsible::after {
    content: "+";
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
  }
}

@media (min-width: 900px) {
  .faq__collapsible::after {
    content: "+";
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
  }
}

@media (min-width: 600px) {
  .faq__collapsible::after {
    content: "+";
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
  }
}

@media (min-width: 420px) {
  .faq__collapsible::after {
    content: "+";
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
  }
}

.faq__collapsible .faq__content .faq__p1 {
  transition: all 0.5s ease-in-out;
}

.faq__collapsible active .faq__p1 {
  transition: all 0.5s ease-in-out;
}