.block_bgrnd{
    background-image: url(../img/about_me/decoration.png);
    min-height: 180px;
    background-color:var(--yellow-color);
 
}
.about_me{
    background-image: url(../img/about_me/background.webp);
    background-position: center;
    min-width: 992;
    min-height: 770px;
    background-repeat: no-repeat;
    background-color: var(--yellow-color);
    
}
.revue{
    padding: -100px 70px 90px 70px;
    margin: -100px 120px 320px 660px
}
.about_me_title{
    font-size: 60px;
    font-family: "Crimson Pro", serif;
    font-weight: 500; 
}
.about_me_subtitle{
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 1.5;
}
.about_me__text{
font-size: 17px;
font-family: 'Roboto', sans-serif; 
font-weight: 400;
line-height: 1.5;
}
a{
    color: var(--white-color);
}  