.footer__bottom-navigation-links a {
    text-decoration: none;
    color: white;
}

.footer__bottom-navigation-links a:hover {
    color: rgb(240, 191, 76);
}
.footer__bottom-navigation {
    background-color:#0a0607;
}
