/* reviews 
======================= */

.reviews {
    margin: 100px 0;
}

.reviews__inner {
    text-align: center;
}

.reviews__img {
    width: 150px;
    margin: auto;
}

.reviews__title {
    font-size: 60px;
    margin-bottom: 20px;

    font-family: 'Crimson Pro', serif;
}

.reviews-sub__title {
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 400;

    font-family: 'Crimson Pro', serif;
}

/* slider
================== */

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider__item {
    width: 370px;
    height: 500px;
    text-align: center;
    padding: 40px 40px 20px 40px;
    margin: 10px;
    background-color: var(--white-color);

    transition: transform 1s;
}

.slider__item:hover {
    transform: scale(1.1);
}

.slider__img {
    width: 38%;
    height: 25%;
    margin: auto;
    margin-bottom: 30px;
    object-fit: cover;

    border-radius: 100%;
}

.slider__title {
    font-size: 30px;
    font-family: 'Crimson Pro', serif;

    margin-bottom: 50px;
}

.slider__text {
    margin-bottom: 20px;

    line-height: 1.6;
    font-size: 17px;
    font-weight: 400;
    color: var(--grey-color);
}


time {
    font-weight: 700;
}