/* intro
=================== */

.intro {
    height: 1080px;

    background: var(--intro-red) url(../img/intro_img/bg_intro.png) center no-repeat;
    background-size: cover;
    
}

.intro__title {
    padding-top: 400px;
    font-size: 120px;
    font-weight: 700;
    color: var(--white-color);

    font-family: 'Lora', serif;
}

.intro-sub__title {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 400;

    color: var(--white-color);
}